/* styles.css */

.color-example {
    color: dodgerblue; /* <<<--- Remember to change this to your favorite named color! */
    background-color: #FFFFE0;
    border: 4px solid darkslategray;
    padding: 15px;
}

.header-example {
    font-size: 3em;
    font-family: 'Helvetica', Arial, sans-serif;
    color: #4B0082;
}

.list-example {
    list-style-type: square;
    color: #006400;
}

.text-example {
    font-family: 'Georgia', serif;
    font-size: 1.3em;
    text-transform: capitalize;
    text-decoration: underline;
}

.div-example {
    background-color: #E6E6FA;
    border: 2px dashed #8A2BE2;
    padding: 20px;
    margin-top: 25px;
}
